body{
    background-image:url(cpp.jpg);
    border-image-width: auto;
}
@keyframes fadeIn {
    from {
        opacity: 0; 
        transform: translateY(20px); 
    }
    to {
        opacity: 1; 
        transform: translateY(0); 
    }
}
.cpp{
   
    text-align: center;
    color: white;
    animation: fadeIn 1s ease-out;
}


    